body {
  height: 100vh;
  overflow: hidden;
  background: rgb(15,23,42);
  background: linear-gradient(90deg, rgba(15,23,42,0.9612219887955182) 0%, rgba(15,23,42,0.9108018207282913) 31%, rgba(9,89,117,0.9164040616246498) 55%, rgba(21,117,153,0.927608543417367) 97%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.hexagon-wrapper {
  margin: auto;
  display: flex;
  text-align: initial;
  width: 130;
  height: 200px;
  cursor: pointer;
}

.hexagon {
  position: relative;
  width: 46%;
  height: 80%;
  margin: auto;
  color: white;
  background: linear-gradient(-180deg, #d9ece3, #256f1c);
  display: flex;
  align-content: center;
  justify-content: center;
  transition: 0.5s;
  border-radius: 13px; 
  padding: 10px 20px; 
}

.hexagon i {
  z-index: 1;
  margin: auto;
  font-size: 50px;
  color: transparent;
  background: linear-gradient(45deg, #8c0c27, #e37682);
  background-clip: text;
  -webkit-background-clip: text;
  
}

.hexagon:before,
.hexagon:after {
  position: absolute;
  content: "";
  background: inherit;
  height: 100%;
  width: 100%;
  border-radius: 0;
  transition: 0.5s;
  transform-origin: center;
  border-radius: 13px; 
  padding: 10px 20px;
}

.hexagon:after {
  transform: rotateZ(-60deg);
}
.hexagon:hover {
  border-radius: 50px;
  transition: 0.5s;
}
.hexagon:hover:before {
  border-radius: 50px;
  transition: 0.5s;
}
.hexagon:hover:after {
  border-radius: 50px;
  transition: 0.5s;
}


.custom-image {

border-radius: 30;  
}